body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated;
  filter: contrast(120%);
}
#sprite{
  /* filter: contrast(150%); */
}